@import url('https://fonts.googleapis.com/css2?family=Raleway');
body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
    background-color: #85F4FF; background-image: linear-gradient(90deg, #42C2FF 0%, #B8FFF9 100%);
    height: 100%;

}

tr:hover td { background:#EDEDED; }

.form-check-input:hover {
    -moz-box-shadow:    3px 3px 5px 2px #ccc;
    -webkit-box-shadow: 3px 3px 5px 2px #ccc;
    box-shadow:         3px 3px 5px 2px #ccc;
}



.form-check-label {
    text-align: center;
}

.form-control mr-sm-2 {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #0E185F;
    margin-top: 4.5%;
    font-size: 60px;
    /* width: 45%;
    margin-left: 27.5%; */
    box-shadow: 5px 10px #ffffff;

}
.intro-box{
    text-align: center;
}
.container{
    margin-top: 5%;


}
.col{
  margin-left: 7%;
  text-align: center;
}
.card{
   box-shadow: 5px 10px #888888;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #112B3C;
  padding: 20px 10px;
  box-shadow: 5px 10px #ffffff;

}

/* Style the header links */
.header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.mid-text{
  border: solid;
  text-align: left;
  padding: 8%;
  width: 372px  ;
  background-color: #112B3C;
  color: #fff;

}

.row{
  padding: 1%;
}
footer{
  margin-bottom: 0px;
}
